Repository kyma-incubator/documentation-component, pull requests merged in 2019-09, with the labels that each got.

#37 Fix rendering of example markdown
  packages/markdown-render-engine/src/renderers/Blockquote.tsx
  packages/odata-react/src/tools/Parser.ts
Labels: area/core-and-supporting, enhancement

#39 Bump version of packages to 0.2.0
  lerna.json
  packages/async-api-render-engine/package.json
  packages/documentation-component/package.json
  packages/markdown-render-engine/package.json
  packages/odata-react/package.json
  packages/odata-render-engine/package.json
  packages/open-api-render-engine/package.json
Labels: area/community, area/core-and-supporting, area/documentation, enhancement

#40 Remove dead link
  packages/async-api-render-engine/README.md
Labels: area/documentation

#42 0.3.0 version
  lerna.json
  package.json
  packages/async-api-render-engine/package.json
  packages/documentation-component/package.json
  packages/markdown-render-engine/package.json
  packages/odata-react/package.json
  packages/odata-render-engine/package.json
  packages/open-api-render-engine/package.json
Labels: area/documentation, enhancement
